@use '../variables' as *;

.home {
  min-height: 100vh;
  background-color: rgb(249, 250, 251);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    text-align: center;
    padding: 1.5rem;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    color: rgb(75, 85, 99);
    margin-bottom: 1.5rem;
  }
}
